workerPoolSpecs:
- machineSpec:
    machineType: n1-standard-4
    acceleratorType: NVIDIA_TESLA_V100
    acceleratorCount: 1
  replicaCount: 1
  containerSpec:
    imageUri: europe-west1-docker.pkg.dev/mlopsproject-484419/mlops-registry/mlops-train:cuda
    command:
      - uv
      - run
      - python
      - src/mlops_project/train.py
    args:
      - wandb.enabled=true
      - meta.use_gcs=true
scheduling:
  timeout: 3600s
